.knob {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
}

/*.knob .ticks {*/
/*    position: absolute;*/
/*}*/

/*.knob .ticks .tick {*/
/*    position: absolute;*/
/*    background: black;*/
/*    box-shadow: inset 0 0 0 0 black;*/
/*    width: 3px;*/
/*    transition: box-shadow 0.5s;*/
/*}*/

/*.knob .ticks .tick.active {*/
/*    box-shadow: inset 0 0 5px 2px #509eec, 0 0 0 1px #369;*/
/*}*/

.knob.outer {
    margin: 65px;

    border-radius: 50%;
    border: double 4px transparent;
    background-image: radial-gradient(100% 90%, #ffffff 1%, #d2d2d2 35%, #3f3f3f 100%), linear-gradient(130deg, #808080, #ffffff, #808080, #ffffff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: -10px 15px 10px 0px #111, -14px 15px 20px 1px black;
}

.knob.inner {
    /*border-radius: 50%;*/
}

.knob.inner .indicator {
    position: absolute;
    width: 10%;
    height: 37%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: black;
}
